<app-menu></app-menu>
<div class=" main-class">
  <div class="primary-container">
    <header class="header">
      <div class="heading4">{{'Employee Types'|translate}}</div>
    </header>
    <div class="addbtn">
      <button class="btn btn-primary adduser" type="button" data-toggle="modal" data-target="#myModal">{{'Add New EmployeeType'|translate}}
      </button>
      <div class="input-group input-group-lg searchButton">
        <input type="text" class="form-control" style="height: 40px" placeholder="Search By Name" [(ngModel)]="name">
        <div class="input-group-btn">
          <button class="btn btn-default" style="height: 40px" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div layout="row" class="userlist ">{{'Employee Type List'|translate}}</div>
    <table class="table table-striped table-hover table-fixed  settable">
      <thead>
        <tr>
          <th class="col-xs-1">{{ 'No' | translate }}</th>
          <th class="col-xs-2">{{ 'Name' | translate }}</th>
          <th class="col-xs-2">{{ 'SeekLeave' | translate }}</th>
          <th class="col-xs-2">{{ 'PaidLeave' | translate }}</th>
          <th class="col-xs-2">{{ 'TotalLeave' | translate }}</th>
          <th class="col-xs-2" style="margin-left: 40px">{{ 'Action' | translate }}</th>
        </tr>
      </thead>
      <tr *ngFor="let employeeType of allEmployeetype | filter:name| paginate: { itemsPerPage: 8, currentPage: p}">
        <td class="tablerow col-xs-1 ">{{employeeType.id}}</td>
        <td class="tablerow col-xs-2">{{employeeType.type}}</td>
        <td class="tablerow col-xs-2">{{employeeType.seekLeave}}</td>
        <td class="tablerow col-xs-2">{{employeeType.paidLeave}}</td>
        <td class="tablerow col-xs-2">{{employeeType.totalLeave}}</td>
        <td class="tablerow col-xs-3">
          <span class="action-link" role="button" tabindex="0" (click)="loadEmployeeTypeToEdit(employeeType.id)" data-toggle="modal"
            data-target="#myModal">{{'Edit'|translate}}</span>
          <span> | </span>
          <span class="action-link" role="button" tabindex="0" (click)="deleteEmployeeType(employeeType.id)">{{'Delete'|translate}}</span>
        </td>
      </tr>
    </table>
    <div style="margin-left: 60%" >
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form [formGroup]="employeetypeForm" (ngSubmit)="onEmployeeTypeFormSubmit()">
    <div class="modal-dialog modaldialog">
        <div id="snackbar"[innerHTML]="toastMessage"></div>
      <div class="modal-content" style="    height: 500px;">
        <div class="modal-header dialog">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title modaltitle">{{'Add New EmployeeType'|translate}}</h2>
        </div>
        <div class="modal-body">
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;"[ngClass]="{'has-error':!employeetypeForm.controls['type'].valid && employeetypeForm.controls['type'].touched}">
              <label class="label-name control-label">{{ 'EmployeeTypeName' | translate }}</label>
              <br>
              <input type="text"  formControlName="type" id="type" name="type" class="loginUserid form-control"
                placeholder="Employeetype">
                <app-control-messages [formGroup]="employeetypeForm" [displayName]="'Employee TypeName'" [control]="employeetypeForm.controls['type']"></app-control-messages>
            </div>
            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6"[ngClass]="{'has-error':!employeetypeForm.controls['seekLeave'].valid && employeetypeForm.controls['seekLeave'].touched}">
                <label class="label-name control-label"> {{ 'SeekLeave' | translate }}</label>
                <input type="number" formControlName="seekLeave" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  class="loginUserid form-control" placeholder="Seek Leave">
                  <app-control-messages [formGroup]="employeetypeForm" [displayName]="'Seek Leave'" [control]="employeetypeForm.controls['seekLeave']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="row" style="    margin-top: 30px" [ngClass]="{'has-error':!employeetypeForm.controls['paidLeave'].valid && employeetypeForm.controls['paidLeave'].touched}">
            <div class=" form-group col-lg-6" style="margin-left: 35px;">
              <label class="label-name control-label">{{ 'PaidLeave' | translate }}</label>
              <br>
              <input type="number"  formControlName="paidLeave" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                class="loginUserid form-control" placeholder="Paid Leave">
                <app-control-messages [formGroup]="employeetypeForm" [displayName]="'Paid Leave'" [control]="employeetypeForm.controls['paidLeave']"></app-control-messages>
            </div>
            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6">
                <label class="label-name "> {{ 'TotalLeave' | translate }}</label>               
                <span type="number"   id="totalLeave" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  class="loginUserid" placeholder="Total Leave" (click)="totalLeave()" (blur)="totalLeave()" >
                  </span>              
              </div>
            </div>
          </div>
          <div class="savebtn">
            <button type="submit" class="btn btn-secondary" style="width: 30%;" [disabled]="!employeetypeForm.valid" (click)="toastMessageDisplay()">{{'Save'|translate}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 30%;
        margin-left: 20px;">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>