<app-menu></app-menu>
<div class=" main-class">
  <div class="primary-container">
    <header class="header">
      <div class="heading4">{{'Employee Leave'|translate}}</div>
    </header>
    <div class="addbtn">
      <button class="btn btn-primary adduser" type="button" data-toggle="modal" data-target="#myModal">Add Employee Leave
      </button>
      <div class="input-group input-group-lg searchButton">
          <input type="date" class="form-control" style="height: 40px" placeholder="Search By Name" [(ngModel)]="fromDate">
          <div class="input-group-btn">
            <button class="btn btn-default" style="height: 40px" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
    </div>
    <div layout="row" class="userlist ">{{'Employeee Leave List'|translate}}</div>
    <table class="table table-striped table-hover table-fixed settable">
      <thead>
        <tr>
          <th class="col-xs-1">{{ 'No' | translate }}</th>
          <th class="col-xs-2">EmployeeId</th>
          <th class="col-xs-2">{{ 'Reason' | translate }}</th>
          <th class="col-xs-2">{{ 'FromDate' | translate }}</th>
          <th class="col-xs-2">{{ 'Todate' | translate }}</th>
         
          <th class="col-xs-3">Action</th>
        </tr>
      </thead>
      <tr *ngFor="let leave of allLeave | filter:fromDate| paginate: { itemsPerPage: 8, currentPage: p}">
        <td class="tablerow col-xs-1">{{leave.id}}</td>
        <td class="tablerow col-xs-2">{{leave.employee.userid}}</td>
        <td class="tablerow col-xs-2">{{leave.subject}}</td>
        <td class="tablerow col-xs-2">{{leave.fromDate}}</td>
        <td class="tablerow col-xs-2">{{leave.toDate}}</td>
       
        <td class="tablerow col-xs-3">
          <span class="action-link" role="button" tabindex="0" (click)="loadLeaveToEdit(leave.id)" data-toggle="modal" data-target="#myModal">{{'Edit'|translate}}</span>
          <span> | </span>
          <span class="action-link" role="button" tabindex="0" (click)="deleteLeave(leave.id)">{{'Delete'|translate}}</span>
        </td>
      </tr>
    </table>
    <div style="margin-left: 60%" >
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form [formGroup]="leaveForm" (ngSubmit)="onLeaveFormSubmit()">
    <div class="modal-dialog modaldialog">
        <div id="snackbar"[innerHTML]="toastMessage"></div>
      <div class="modal-content" style="    height: 530px;">
        <div class="modal-header dialog">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title modaltitle">{{'Add New Leave'|translate}}</h2>
        </div>
        <div class="modal-body">
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;"[ngClass]="{'has-error':!leaveForm.controls['employee'].valid && leaveForm.controls['employee'].touched}">
              <label class="label-name control-label">{{ 'EmployeeId' | translate }}</label>
              <select class="loginUserid form-control" formControlName="employee" name="employee" id="employee" >
                <option *ngFor=" let employee of allEmployee" [value]="employee.id">
                  {{employee.userid}}
                </option>
              </select>
              <app-control-messages [formGroup]="leaveForm" [displayName]="'EmployeeId'" [control]="leaveForm.controls['employee']"></app-control-messages>
            </div>

            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6"[ngClass]="{'has-error':!leaveForm.controls['subject'].valid && leaveForm.controls['subject'].touched}">
                <label class="label-name control-label"> {{ 'Reason' | translate }}</label>
                <input type="text"  step="2" formControlName="subject" class="loginUserid form-control">
                <app-control-messages [formGroup]="leaveForm" [displayName]="'Reason'" [control]="leaveForm.controls['subject']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;"[ngClass]="{'has-error':!leaveForm.controls['fromDate'].valid && leaveForm.controls['fromDate'].touched}">
              <label class="label-name control-label">{{ 'FromDate' | translate }}</label>
              <br>
              <input type="date"   formControlName="fromDate" class="loginUserid form-control">
              <app-control-messages [formGroup]="leaveForm" [displayName]="'FromDate'" [control]="leaveForm.controls['fromDate']"></app-control-messages>
            </div>

            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6" [ngClass]="{'has-error':!leaveForm.controls['toDate'].valid && leaveForm.controls['toDate'].touched}">
                <label class="label-name control-label"> {{ 'Todate' | translate }}</label>
                <input type="date"  formControlName="toDate" class="loginUserid form-control"(blur)="toDateValidation();" (change)="toDateValidation();">
                <app-control-messages [formGroup]="leaveForm" [displayName]="'Todate'" [control]="leaveForm.controls['toDate']"></app-control-messages>
                <div id="afterleavejoiningdate_validation" class="error"></div>
              </div>
            </div>
          </div>
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;"[ngClass]="{'has-error':!leaveForm.controls['leavetype'].valid && leaveForm.controls['leavetype'].touched}">
              <label class="label-name control-label">{{ 'LeaveType' | translate }}</label>
              <select class="loginUserid form-control" formControlName="leavetype" name="leavetype" id="leavetype">
                <option *ngFor=" let leavetype of allLeavetypes" [value]="leavetype.id" >
                  {{leavetype.name}}
                </option>
              </select>
              <app-control-messages [formGroup]="leaveForm" [displayName]="'LeaveType'" [control]="leaveForm.controls['leavetype']"></app-control-messages>
            </div>
          </div>
          <div class="savebtn">
            <button type="submit" class="btn btn-secondary" style="width: 30%;" [disabled]="!leaveForm.valid" (click)="toastMessageDisplay()">{{'Save'|translate}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 30%;
        margin-left: 20px;">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>