
.tablerow{
   
    text-align: left;
    line-height: 3.5rem;
}
.searchButton{
    margin-left: 30%;
    width: 24%;
    height: 20%;
    margin-top: -3.5%;
}
butHeight{
    height: 40px;
}
.error {
    margin-left: 20px;
    color:#a94442;
   padding-top: 7px;
     width: 250px 
  }
  .searchButton{
    margin-left: 40%;
    width: 24%;
    height: 20%;
    margin-top: -7.9%;
}