<div class="header1" style="margin-top: 0px">
    <div id="main">
        <!-- <a id="nav-toggle" class="hammenu active"   href="#">&#9776;</a> -->
        <span style="font-size:30px;cursor:pointer" onclick="sidebar()">&#9776; NexTech HRMS
        </span>
        <i id="nav-toggle" style="font-size: 20px;margin-left: 150px">&#x1F50D;</i>
        <input type="search" class="ZPselect" id="zpeople_search_box" placeholder="Search Employee" value="" name="Search">
        <img style="height: 44px ; margin-left: 620px;" src="https://contacts.zoho.com/file?ID=654944339&amp;fs=thumb" empid="401583000000111005"
            imgtype="thumb" aria-expanded="false">
    </div>
</div>
<div id="myDIV" class="sidenav " style="margin-top: 43px">
    <ul style="    margin-left: -40px;margin-top: -20px;">
        <div class="dropbtn " *ngFor="let n of menuList" (click)="select(n.name);" [ngClass]="{active: isSelect(n.name)}">
            <li style="padding: 10px 25px">{{n.name}}
                <span class="down downarrow"></span>
            </li>
            <div class="drop dropdown-content" >
                <li *ngFor="let child of n.subMenu" (click)="select(child.link);" >
                    <div [routerLink]="(child.link)">{{child.name}}</div>
                </li>
            </div>
        </div>
    </ul>

</div>
<router-outlet></router-outlet>