


.tablerow{
   
    text-align: left;
    line-height: 3.5rem;
}

.searchButton{
    margin-left: 30%;
    width: 24%;
    height: 20%;
    margin-top: -3.5%;
}
butHeight{
    height: 40px;
}


.table-fixed thead {
    width: 97%;
   
  }
  .table-fixed tbody {
    height: 330px;
    overflow-y: auto;
    width: 100%;
    
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }
.tableft{
    margin-left: 3%
}
.error {
    margin-left: 20px;
    color:#a94442;
   padding-top: 7px;
     width: 250px 
  }

  .green-circle {
    float: left;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-left: 55px;
}
.lable-description {
    float: left;
    padding-left: 15px;
    font-size: 1.5rem;
    color: #444c5c;
    font-weight: 600;
    margin-top: -5px;
}
.red-circle {
    float: left;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-left: 15px;
}