<app-menu></app-menu>
<div class=" main-class">
  <div class="primary-container">
    <header class="header">
      <div class="heading4">{{'Employee'|translate}} </div>
    </header>
    <div class="addbtn">
      <button class="btn btn-primary adduser" type="button" data-toggle="modal" data-target="#myModal">{{'Add New Employee'|translate}}
      </button>
      <div class="input-group input-group-lg searchButton">
        <input type="text" class="form-control" style="height: 40px" placeholder="Search By Name" [(ngModel)]="name">
        <div class="input-group-btn">
          <button class="btn btn-default" style="height: 40px" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div layout="row" class="userlist ">{{'Employee List'|translate}}</div>
    <table class="table table-striped table-hover table-fixed settable">
      <thead>
        <tr>
          <th class="col-xs-1">{{ 'No' | translate }}</th>
          <th class="col-xs-2">{{ 'UserId' | translate }}</th>
          <th class="col-xs-2">{{ 'FirstName' | translate }}</th>
          <th class="col-xs-2">{{ 'LastName' | translate }}</th>
          <th class="col-xs-2">{{ 'UserType' | translate }}</th>
          <th class="col-xs-2" style="margin-left: 40px">{{ 'Action' | translate }}</th>
        </tr>
      </thead>
      <tr *ngFor="let employee of allEmployee | filter:name| paginate: { itemsPerPage: 8, currentPage: p} ">
        <td class="tablerow col-xs-1">{{employee.id}}</td>
        <td class="tablerow col-xs-2">{{employee.userid}}</td>
        <td class="tablerow col-xs-2">{{employee.firstName}}</td>
        <td class="tablerow col-xs-2">{{employee.lastName}}</td>
        <td class="tablerow col-xs-2">{{employee.usertype.usertypeName}}</td>
        <td class="tablerow col-xs-3">
          <span class="action-link" role="button" tabindex="0" (click)="loadEmployeeToEdit(employee.id)" data-toggle="modal" data-target="#myModal">{{'Edit'|translate}}</span>
          <span> | </span>
          <span class="action-link" role="button" tabindex="0" (click)="deleteEmployee(employee.id)">{{'Delete'|translate}}</span>
        </td>
      </tr>
    </table>
    <div style="margin-left: 60%">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form [formGroup]="employeeForm" (ngSubmit)="onEmployeeFormSubmit()">
    <div class="modal-dialog modaldialog">
      <div id="snackbar" [innerHTML]="toastMessage"></div>
      <div class="modal-content">
        <div class="modal-header dialog">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title modaltitle">{{'Add New Employee'|translate}}</h2>
        </div>
        <div class="modal-body">
          <h6 class=" form-horizontal">
            <span class="basicinfo">Basic Info</span>
          </h6>
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;"[ngClass]="{'has-error':!employeeForm.controls['userid'].valid && employeeForm.controls['userid'].touched}">
              <label class="label-name control-label">{{ 'UserId' | translate }}</label>
              <br>
              <input type="text" formControlName="userid" id="userid" class="loginUserid form-control" >
              
              <div class ="valid"  id="userid_validation"></div>
              <app-control-messages [formGroup]="employeeForm" [displayName]="'User Id'" [control]="employeeForm.controls['userid']"></app-control-messages>
            </div>

            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6"[ngClass]="{'has-error':!employeeForm.controls['password'].valid && employeeForm.controls['password'].touched}">
                <label class="label-name control-label"> {{ 'Password' | translate }}</label>
                <input type="password" formControlName="password" class="loginUserid form-control">              
                <app-control-messages [formGroup]="employeeForm" [displayName]="'password'" [control]="employeeForm.controls['password']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;"[ngClass]="{'has-error':!employeeForm.controls['firstName'].valid && employeeForm.controls['firstName'].touched}">
              <label class="label-name control-label">{{ 'FirstName' | translate }}</label>
              <br>
              <input type="text" formControlName="firstName" class="loginUserid form-control" onkeypress='return event.charCode >= 65 && event.charCode <= 122'>
              <app-control-messages [formGroup]="employeeForm" [displayName]="'First Name'" [control]="employeeForm.controls['firstName']"></app-control-messages>
            </div>

            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6"[ngClass]="{'has-error':!employeeForm.controls['lastName'].valid && employeeForm.controls['lastName'].touched}">
                <label class="label-name control-label"> {{ 'LastName' | translate }}</label>
                <input type="text" formControlName="lastName" class="loginUserid form-control" onkeypress='return event.charCode >= 65 && event.charCode <= 122'>
                <app-control-messages [formGroup]="employeeForm" [displayName]="'Last Name'" [control]="employeeForm.controls['lastName']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;"[ngClass]="{'has-error':!employeeForm.controls['emailid'].valid && employeeForm.controls['emailid'].touched}">
              <label class="label-name control-label">{{ 'EmailId' | translate }}</label>
              <br>
              <input type="text" formControlName="emailid" class="loginUserid form-control">
              <app-control-messages [formGroup]="employeeForm" [displayName]="'Employe Id'" [control]="employeeForm.controls['emailid']"></app-control-messages>
            </div>

            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6">
                <label class="label-name "> Gender :</label>
                <div style="margin-left: 10px;">
                  <input type="radio" name="gender" value="male"> Male
                  <br>
                  <input type="radio" name="gender" value="female"> Female
                  <br>
                </div>
              </div>
            </div>
          </div>
          <h6 class=" form-horizontal">
            <span class="basicinfo">Work</span>
          </h6>
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;">
              <label class="label-name ">{{ 'Source of hire' | translate }}</label>
              <br>
              <select class="loginUserid" style="width: 250px">
                <option value="volvo">Direct</option>
                <option value="saab">Referral</option>
                <option value="mercedes">Web</option>
                <option value="audi">NewsPaper</option>
              </select>
            </div>
            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6"[ngClass]="{'has-error':!employeeForm.controls['dateOfJoining'].valid && employeeForm.controls['dateOfJoining'].touched}">
                <label class="label-name control-label"> {{ 'Date Of Joining' | translate }}</label>
                <input type="date" formControlName="dateOfJoining" class="loginUserid form-control">
                <app-control-messages [formGroup]="employeeForm" [displayName]="'Date Of Joining'" [control]="employeeForm.controls['dateOfJoining']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;"[ngClass]="{'has-error':!employeeForm.controls['employeetype'].valid && employeeForm.controls['employeetype'].touched}">
              <label class="label-name control-label">{{ 'EmployeeType' | translate }}</label>
              <select class="loginUserid form-control" formControlName="employeetype" id="employeetype" name="employeetype">
                <option *ngFor=" let employeetype of allEmployeetype" [value]="employeetype.id">
                  {{employeetype.type}}
                </option>
              </select>
              <app-control-messages [formGroup]="employeeForm" [displayName]="'Employee Type'" [control]="employeeForm.controls['employeetype']"></app-control-messages>
            </div>

            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6">
                <label class="label-name "> {{ 'Workphone' | translate }}</label>
                <input type="text" class="loginUserid">

              </div>
            </div>
          </div>
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;"[ngClass]="{'has-error':!employeeForm.controls['usertype'].valid && employeeForm.controls['usertype'].touched}">
              <label class="label-name control-label">{{ 'User Type' | translate }}</label>
              <select class="loginUserid form-control" formControlName="usertype" id="userType" name="userType">
                <option *ngFor=" let usertype of allUsertypes" [value]="usertype.id">
                  {{usertype.usertypeName}}
                </option>
              </select>
              <app-control-messages [formGroup]="employeeForm" [displayName]="'User Type'" [control]="employeeForm.controls['usertype']"></app-control-messages>
            </div>

            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6" [ngClass]="{'has-error':!employeeForm.controls['designation'].valid && employeeForm.controls['designation'].touched}">
                <label class="label-name control-label"> {{ 'Designation' | translate }}</label>
                <select class="loginUserid form-control" formControlName="designation" id="designation" name="designation"> 
                  <option *ngFor=" let designation of allDesignation" [value]="designation.id">
                    {{designation.name}}
                  </option>
                </select>
                <app-control-messages [formGroup]="employeeForm" [displayName]="'Designation'" [control]="employeeForm.controls['designation']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;" [ngClass]="{'has-error':!employeeForm.controls['reportTo'].valid && employeeForm.controls['reportTo'].touched}">
              <label class="label-name control-label">{{ 'ReportTo' | translate }}</label>
              <select class="loginUserid form-control" formControlName="reportTo" id="reportTo" name="reportTo" (click)=reportTo()  >
                <option *ngFor=" let menu of selectMenu" [value]="menu.id">
                  {{menu.userid}}
                </option>
              </select>
              <app-control-messages [formGroup]="employeeForm" [displayName]="'ReportTo'" [control]="employeeForm.controls['reportTo']"></app-control-messages>
            </div>

            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6" [ngClass]="{'has-error':!employeeForm.controls['department'].valid && employeeForm.controls['department'].touched}">
                <label class="label-name control-label"> {{ 'Department' | translate }}</label>
                <input type="text" formControlName="department" class="loginUserid form-control">
                <app-control-messages [formGroup]="employeeForm" [displayName]="'department'" [control]="employeeForm.controls['department']"></app-control-messages>
              </div>
            </div>
          </div>
          <h6 class=" form-horizontal">
            <span class="basicinfo">Personal</span>
          </h6>
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;" [ngClass]="{'has-error':!employeeForm.controls['phoneNumber'].valid && employeeForm.controls['phoneNumber'].touched}">
              <label class="label-name control-label">{{ 'Mobile Number' | translate }}</label>
              <br>
              <input type="text" maxlength="10" formControlName="phoneNumber" class="loginUserid form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
              <app-control-messages [formGroup]="employeeForm" [displayName]="'Mobile Number'" [control]="employeeForm.controls['phoneNumber']"></app-control-messages>
            </div>
            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6" [ngClass]="{'has-error':!employeeForm.controls['address'].valid && employeeForm.controls['address'].touched}">
                <label class="label-name control-label"> {{ 'Address' | translate }}</label>
                <input type="text" formControlName="address" class="loginUserid form-control">
                <app-control-messages [formGroup]="employeeForm" [displayName]="'address'" [control]="employeeForm.controls['address']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;"[ngClass]="{'has-error':!employeeForm.controls['dateOfBirth'].valid && employeeForm.controls['dateOfBirth'].touched}">
              <label class="label-name control-label">{{ 'Date Of Birth' | translate }}</label>
              <br>
              <input type="date" formControlName="dateOfBirth" class="loginUserid form-control">
              <app-control-messages [formGroup]="employeeForm" [displayName]="'Date Of Birth'" [control]="employeeForm.controls['dateOfBirth']"></app-control-messages>
            </div>
            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6" [ngClass]="{'has-error':!employeeForm.controls['salary'].valid && employeeForm.controls['salary'].touched}">
                <label class="label-name control-label"> {{ 'Salary' | translate }}</label>
                <input type="number" formControlName="salary" class="loginUserid form-control">
                <app-control-messages [formGroup]="employeeForm" [displayName]="'salary'" [control]="employeeForm.controls['salary']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="savebtn">
            <button type="submit" class="btn btn-secondary" style="width: 30%;" [disabled]="!employeeForm.valid" (click)="toastMessageDisplay()">{{'Save'|translate}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 30%;
      margin-left: 20px;">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>