

<header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner" style="height: 70px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="img-responsive navbar-brand" href="index.html"><img style="margin-left: -30px" src="assets/Images/logo.png" alt="logo"></a>
            </div>
    
            
        </div><!--/.container-->
    </nav><!--/nav-->
  </header>
  <router-outlet>
    <ng4-loading-spinner> </ng4-loading-spinner>
</router-outlet>
