<app-menu></app-menu>
<div class=" main-class">
  <div class="primary-container">
    <header class="header">
      <div class="heading4">{{'Holiday'|translate}}</div>
    </header>
    <div class="addbtn">
      <button class="btn btn-primary adduser" type="button" data-toggle="modal" data-target="#myModal">{{'Add New Holiday'|translate}}
      </button>
      <div class="input-group input-group-lg searchButton">
        <input type="text" class="form-control" style="height: 40px" placeholder="Search By Name" [(ngModel)]="name">
        <div class="input-group-btn">
          <button class="btn btn-default" style="height: 40px" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div layout="row" class="userlist ">{{'HolidayList'|translate}}</div>
    <table class="table table-striped table-hover table-fixed  settable">
      <thead>
        <tr>
          <th class="col-xs-2">{{ 'No' | translate }}</th>
          <th class="col-xs-3">{{ 'Name' | translate }}</th>
          <th class="col-xs-3">{{ 'Date' | translate }}</th>
          <th class="col-xs-3" style="margin-left: 40px">Action</th>  
        </tr>
      </thead>
      <tr *ngFor="let holiday of allHolidayList | filter:name| paginate: { itemsPerPage: 8, currentPage: p}">
        <td class="tablerow col-xs-2">{{holiday.id}}</td>
        <td class="tablerow col-xs-3">{{holiday.holidayName}}</td>
        <td class="tablerow col-xs-3">{{holiday.holidayDate}}</td>
        <td class="tablerow col-xs-4">
          <span class="action-link" role="button" tabindex="0" (click)="loadHolidayToEdit(holiday.id)" data-toggle="modal" data-target="#myModal">{{'Edit'|translate}}</span>
          <span> | </span>
          <span class="action-link" role="button" tabindex="0" (click)="deleteHoliday(holiday.id)">{{'Delete'|translate}}</span>
        </td>
      </tr>
    </table>
    <div style="margin-left: 60%" >
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form [formGroup]="holidayForm" (ngSubmit)="onHolidayFormSubmit()">
    <div class="modal-dialog modaldialog">
        <div id="snackbar"[innerHTML]="toastMessage"></div>
      <div class="modal-content" style="    height: 500px;">
        <div class="modal-header dialog">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title modaltitle">{{'Add New Holiday'|translate}}</h2>
        </div>
        <div class="modal-body">
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;" [ngClass]="{'has-error':!holidayForm.controls['holidayName'].valid && holidayForm.controls['holidayName'].touched}">
              <label class="label-name control-label">{{ 'HolidayName' | translate }}</label>
              <br>
              <input type="text" *ngIf="holidayForm.get('holidayName')" formControlName="holidayName" id="holidayName" name="holidayName"
                class="loginUserid form-control" placeholder="Name">
                <app-control-messages [formGroup]="holidayForm" [displayName]="'Holiday Name'" [control]="holidayForm.controls['holidayName']"></app-control-messages>
            </div>

            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6" [ngClass]="{'has-error':!holidayForm.controls['holidayDate'].valid && holidayForm.controls['holidayDate'].touched}">
                <label class="label-name control-label"> {{ 'Date' | translate }}</label>
                <input type="date" *ngIf="holidayForm.get('holidayDate')" formControlName="holidayDate" id="holidayDate" name="holidayDate"
                  class="loginUserid form-control" placeholder="Description">
                  <app-control-messages [formGroup]="holidayForm" [displayName]="'Date'" [control]="holidayForm.controls['holidayDate']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="savebtn">
            <button type="submit" class="btn btn-secondary" style="width: 30%;" [disabled]="!holidayForm.valid" (click)="toastMessageDisplay()">{{'Save'|translate}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 30%;
      margin-left: 20px;">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>