<form [formGroup]="userForm" (submit)="onLoginFormSubmit()">
  <div class="container" style="margin-top: 100px ">
    <p id="data"></p>

    <div class="col-lg-12">
      <div class=" form-group col-lg-7">
        <div class=" form-control  loginForm">
          <h1 align="center">{{ 'HRMS' | translate }}</h1>
          <div class="logininside">
            <p>Access and manage your instances from this HRMS account.</p>
          </div>
          <br>
          <div class="form-group ">
            <div class=" form-group col-lg-6">
              <label class="loginlabel required "> {{ 'Userid' | translate }}</label>
              <br>
              <input formControlName="userid" id="userid" class="loginUserid" >
              <app-control-messages [control]="userForm.controls.userid"></app-control-messages>
            </div>
          </div>

          <div class="form-group ">
            <div class=" form-group col-lg-6 " style="margin-right: 30px">
              <label class=" required loginlabel"> {{ 'Password' | translate }} </label>
              <br>
              <input  type = "password" formControlName="password" id="password" class="loginUserid">
              <app-control-messages [control]="userForm.controls.password"></app-control-messages>
            </div>
          </div>
          <div>
            <a class="reset" href="ResetPassword.html">{{ 'ResetPassword' | translate }}</a>
            <a class="reset" href="/web/signup" data-original-title="" title="">{{ 'SignUp' | translate }}</a>
          </div>
          <div>
            <button type="submit" class=" btncolor" [disabled]="!userForm.valid" (click)="myFunction()">{{ 'SignIn' | translate }}</button>

          </div>
        </div>
      </div>
    </div>

  </div>
</form>
<div style="margin-right: -50px" id="snackbar"[innerHTML]="toastMessage"></div>