.userlist {
    margin-left: -3.5%;
    font-size: 2.3rem;
    color: #444c5c;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 25px;
    margin-top: -20px;
}
.error {
    margin-left: 310px;
    margin-top: -15px;
    font-size: 17px;
    font-weight: normal;
}
.norequest{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 30px;
}
.green-circle {
    float: left;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-left: 55px;
}
.lable-description {
    float: left;
    padding-left: 15px;
    font-size: 1.5rem;
    color: #444c5c;
    font-weight: 600;
    margin-top: -5px;
}
.red-circle {
    float: left;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-left: 15px;
}
.table-fixed thead {
    width: 97%;
   
  }
  .table-fixed tbody {
    height: 250px;
    overflow-y: auto;
    width: 100%;
    
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }
.tableft{
    margin-left: 3%
}

.tablerow {
    text-align: left;
    line-height: 3.5rem;
}

.adduser {
    width: 50%;
    height: 40px;
    background-color: #111111;
    color: white;
   
}
.addbtn {
    margin-top: 3%;
    width: 110%;
    margin-left: 5.5%;
}