<div class=" main-class">
  <div class="primary-container">

    <header class="header">
      <div class="heading4">{{'Approvals'|translate}}</div>
    </header>
    <div class="row requestName" style="border-bottom: 1px solid #e9e9e9">
      <div class="heading4">{{'Request for Leave'|translate}}</div>
    </div>
    <div id="snackbar" [innerHTML]="toastMessage"></div>
    <table class="table  table-hover table-bordered ">
      <thead>
        <tr>
          <th class="col-xs-2">EmployeeId</th>
          <th class="col-xs-2">{{ 'FromDate' | translate }}</th>
          <th class="col-xs-2">{{ 'Todate' | translate }}</th>
          <th class="col-xs-2">{{ 'No of leaves' | translate }}</th>
          <th class="col-xs-3">Action</th>
        </tr>
      </thead>
      <tr *ngFor="let leave of allLeave ;let i = index">
        <td>{{leave.employee.userid}} </td>
        <td>{{leave.fromDate}}</td>
        <td>{{leave.toDate}}</td>
        <td>{{leave.totalCount}}</td>
        <td (click)="onSelect($event.target.value,leave.id );onSubmitApprovalStatus()" data-toggle="modal" data-target="#myModal">
          <div>
            <button type="button" class="btn btn-secondary" value="Approved">{{'Approved'|translate}}</button>
            <button type="button" style="margin-left: 30px;" class="btn btn-secondary" value="Reject">{{'Rejected'|translate}}</button>
          </div>
        </td>
      </tr>
    </table>
    <div id="data" class="norequest"></div>

    <div class="row requestName" style="border-bottom: 1px solid #e9e9e9">
      <div class="heading4">{{'Request for Regularization'|translate}}</div>
    </div>
    <div id="snackbar" [innerHTML]="toastMessage"></div>
    <table class="table  table-hover table-bordered ">
      <thead>
        <tr>
          <th class="col-xs-2">EmployeeId</th>
          <th class="col-xs-2">{{ 'Date' | translate }}</th>
          <th class="col-xs-2">{{ 'Total Number of Hours Worked' | translate }}</th>
          <th class="col-xs-2">{{ 'Regularized Hours' | translate }}</th>
          <th class="col-xs-3">Action</th>
        </tr>
      </thead>
      <tr *ngFor="let regularization of allRegularization ;let i = index">
        <td>{{regularization.employee.userid}} </td>
        <td>{{regularization.date}}</td>
        <td>{{regularization.totalNumberofHoursworked}}</td>
        <td>{{regularization.regularizedHours}}</td>
        <td (click)="onSelect($event.target.value,regularization.id );onSubmitRegularizationApprovalStatus()" data-toggle="modal" data-target="#myModal">
          <div>
            <button type="button" class="btn btn-secondary" value="Approved">{{'Approved'|translate}}</button>
            <button type="button" style="margin-left: 30px;" class="btn btn-secondary" value="Reject">{{'Rejected'|translate}}</button>
          
          </div>
        </td>
      </tr>
    </table>
    <div id="data1" class="norequest"></div>

    <div class="row requestName" style="border-bottom: 1px solid #e9e9e9">
      <div class="heading4">{{'Request for Project'|translate}}</div>
    </div>
    <div id="snackbar" [innerHTML]="toastMessage"></div>
    <table class="table  table-hover table-bordered ">
      <thead>
        <tr>
          <th class="col-xs-2">Name</th>
          <th class="col-xs-2">{{ 'Start Date' | translate }}</th>
          <th class="col-xs-2">{{ 'End Date' | translate }}</th>
          <th class="col-xs-2">{{ 'Project Type' | translate }}</th>
          <th class="col-xs-3">Action</th>
        </tr>
      </thead>
      <tr *ngFor="let project of allProject ;let i = index">
        <td>{{project.name}} </td>
        <td>{{project.startDate}}</td>
        <td>{{project.endDate}}</td>
        <td>{{project.projecttype}}</td>
        <td (click)="onSelect($event.target.value,project.id );onSubmitProjectApprovalStatus()" data-toggle="modal" data-target="#myModal">
          <div>
            <button type="button" class="btn btn-secondary" value="Approved">{{'Approved'|translate}}</button>
            <button type="button" style="margin-left: 30px;" class="btn btn-secondary" value="Reject">{{'Rejected'|translate}}</button>
          
          </div>
        </td>
      </tr>
    </table>
    <div id="data1" class="norequest"></div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Approvals</h3>
      </div>
      <div class="modal-body">
        <p id="response" style="font-size: 15px">Status Update Successfully </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'|translate}}</button>
      </div>
    </div>

  </div>
</div>