<app-home></app-home>
<div class=" main-class">
  <div class="primary-container" style="height: 100%">
    <header class="header">
      <div class="heading4">{{'User Types'|translate}}</div>
    </header>
    <div class="addbtn">
      <button class="btn  adduser" type="button" data-toggle="modal" data-target="#myModal">
        <span>{{'Add New User'|translate}}</span>
      </button>
      <div class="input-group input-group-lg searchButton">
        <input type="text" class="form-control" style="height: 40px" placeholder="Search By Name" [(ngModel)]="name">
        <div class="input-group-btn">
          <button class="btn btn-default" style="height: 40px" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div layout="row" class="userlist ">{{'User Type List'|translate}}</div>
    <table class="table table-striped table-hover table-fixed settable" [mfData]="allUsertypes" #mf="mfDataTable">
      <thead>
        <tr>
          <th class="col-xs-2">{{ 'No' | translate }}</th>
          <mfDefaultSorter by="usertypeName" class="col-xs-2">{{ 'Name' | translate }}</mfDefaultSorter>
          <th class="col-xs-4">{{ 'Description' | translate }}</th>
          <th class="col-xs-4">{{ 'Action' | translate }}</th>
        </tr>
      </thead>
      <tr *ngFor="let usertype of allUsertypes |orderBy:UserType| filter:name| paginate: { itemsPerPage: 8, currentPage: p}">
        <td class="tablerow col-xs-2">{{usertype.id}}</td>

        <td  class="tablerow col-xs-2">{{usertype.usertypeName}}</td>
        <td class="tablerow col-xs-4">{{usertype.description}}</td>
        <td class="tablerow col-xs-4">
          <span class="action-link" role="button" tabindex="0" (click)="loadUserTypeToEdit(usertype.id)" data-toggle="modal" data-target="#myModal">{{'Edit'|translate}}</span>
          <span> | </span>
          <span class="action-link" role="button" tabindex="0" (click)="deleteUserType(usertype.id)">{{'Delete'|translate}}</span>
        </td>
      </tr>
    </table>
    <div style="margin-left: 60%" >
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form [formGroup]="usertypeForm" (ngSubmit)="onUserTypeFormSubmit()">
    <div class="modal-dialog modaldialog">
        <div id="snackbar"[innerHTML]="toastMessage"></div>
      <div class="modal-content" style="    height: 500px;">
        <div class="modal-header dialog">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title modaltitle">{{'Add New User Type'|translate}}</h2>
        </div>
        <div class="modal-body">
          <div class="row" style="    margin-top: 30px">
            <div class=" form-group col-lg-6" style="margin-left: 35px;" [ngClass]="{'has-error':isError}">
              <label class="label-name ">{{ 'Name' | translate }}</label>
              <br>
              <input type="text"  formControlName="usertypeName" id="usertypeName" name="usertypeName"
                class="loginUserid" placeholder="Name">
                <div class="error" *ngIf="!usertypeForm.controls['usertypeName'].valid && usertypeForm.controls['usertypeName'].touched">{{'Please Enter User Type name' | translate}}.</div>              
            </div>

            <div class="col-lg-offset-5">
              <div class=" form-group col-lg-6">
                <label class="label-name "> {{ 'Description' | translate }}</label>
                <input type="text" formControlName="description" id="description" name="description"
                  class="loginUserid" placeholder="Description">
                  <div class="error" *ngIf="!usertypeForm.controls['description'].valid && usertypeForm.controls['description'].touched">{{'Please Enter User Type Description' | translate}}.</div>              
              </div>
            </div>
          </div>
          <div class="savebtn">
            <button type="submit" class="btn btn-secondary" style="width: 30%;" [disabled]="!enabled"  [disabled]="!usertypeForm.valid" (click)="toastMessageDisplay()" >{{'Save'|translate}}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 30%;
        margin-left: 20px;">{{'Close'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="snackbar" ></div>