
<div id="menu-container" class="sidenav" *ngIf="menuList && menuList.length > 0">
  <ul>
      <div class="btn-drop" *ngFor="let menu of menuList" (click)="onMenuClicked(menu.name);" [ngClass]="{active: isMenuSelected(menu.name)}">
          <li class="menu-link" >{{menu.name}}
              <span class="down arrow-down"></span>
          </li>
          <div class="drop dropdown-content">
              <li *ngFor="let child of menu.subMenu" (click)="onSubmenuClicked(child.name);" [ngClass]="{active: isSubmenuSelected(child.name)}">
                  <div [routerLink]="(child.link)">{{child.name}}</div>
              </li>
          </div>
      </div>
  </ul>
</div>
<div id="toastbar" [innerHTML]="toast"></div>
